        <!-- Header -->
        <header class="header full-width">

            <!-- Mobile header -->
            <div class="show-on-mobile pt1 pl2 pr2 mb1">
                <div class="border--bottom pt1">
                    <div class="grid-row grid-row--center pb1">
                        <div class="grid-column span-half">
                            <!-- Mobile logo -->
                            <div class="mb0"><img class="logo--mobile" src="/img/mobile-logo.svg" alt="Viking Tours" title="Viking Tours"></div>
                        </div>
                        <div class="grid-column span-half align--right">
                            <!-- Mobile social links -->
                            <ul class="mobile-social-links list--inline">
                                <li class="mr1"><a class="link link--default" href="https://www.twitter.com"><img class="icon" src="/img/facebook.svg" alt="Facebook"></a></li>
                                <li class="mr1"><a class="link link--default" href="https://www.instagram.com"><img class="icon" src="/img/instagram.svg" alt="Instagram"></a></li>
                                <li><a class="link link--default" href="https://www.facebook.com"><img class="icon" src="/img/twitter.svg" alt="Twitter"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Desktop header -->
            <!-- Desktop logo -->
            <h1 class="hide-on-mobile logo-container absolute block full-width align--center"><img class="logo--desktop" src="/img/desktop-logo.svg" alt="Viking Tours" title="Viking Tours"></h1>
            <!-- Social links -->
            <ul class="pt1 no-bullets align--center hide-on-mobile">
                <li><a class="link link--default" href="https://www.twitter.com"><img class="icon" src="/img/facebook.svg" alt="Facebook"></a></li>
                <li><a class="link link--default" href="https://www.instagram.com"><img class="icon" src="/img/instagram.svg" alt="Instagram"></a></li>
                <li><a class="link link--default" href="https://www.facebook.com"><img class="icon" src="/img/twitter.svg" alt="Twitter"></a></li>
            </ul>

        </header>